/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,body{ 
	width:100%;
	height:100%;
	background:#ffffff;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas{
  display:block;
  vertical-align:bottom;
}


/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js{
 
  width: 100%;
  height: 100%;
 
  
  background-color: #000;
  background-image: url('RISC.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  
   
  
  
  }

  
    .elements {
    font-size: 35px;
    position: relative;
    top: 48%; 
    left: -14%;
    font-family: 'Alkatra', cursive;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 40px;
    margin: top;
    color : rgb(255, 255, 255);
    
      }

  .element {
  font-size: 25px;
        position: relative;
        top: 48%; 
        left: 20%;
        color : rgb(255, 255, 255);
        
          }



/*Button*/

.btn {
    border: 20px;
    font-family : 'Lato';
    font-size: 10px;
    color: rgb(0, 0, 0);
    background:whitesmoke;
    cursor: pointer;
    padding: 15px 50px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: red;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    top: 48%; 
    left: 18%;

  }

/*colones*/
.col{

  columns: 1;
column-width: 3px;
padding-left: 10%;
padding-right:10%;



}





/*A propos de nous*/
.Nous {
color: hsl(0, 0%, 0%);
font-size: 22px;
font-style: italic;
padding-left: 10%;
padding-right: 10%;

}

.nous{
  color: rgb(0, 89, 255);
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 50px;
  padding-right: 50%;
  text-align: center;
  
}


  
.container{
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  column-count: 1;
  
  column-fill: auto;
  column-width: 120px;
  text-align: center;
  margin: 20px;
  top: 5%;
  left: 50px;
  letter-spacing: 0px;
  columns:center ;
  
}


/*Nos experiences*/

.Expériences{
font-size: 30px;


}
.experiences{
  color: rgb(0, 89, 255);
  font-size: 32px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 30px;
  padding-right: 50%;
  
}

/*Nos qualités*/

.qualités{
  color: rgb(0, 89, 255);
  font-size: 22px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 50px;
  padding-right: 50%;
  font-size: 30px;
  
}

.Qualités{
font-size: 32px;

}


/*Icon*/

.ini{
 
}


.Icon {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  30% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.Qualités{

color : rgb(0, 89, 255);
}

.row{

    
   display:flex;
   align-items: center;
   justify-content: center;




  }

.row {color:rgb(0, 89, 255);text-shadow: black.1em 0.1em 0.3em
}

.auto{width: 300px;
  border: 2px solid rgb(0, 89, 255);
  padding: 50px;
  margin: 20px;
}

.react{width: 300px;
  border: 2px solid rgb(0, 89, 255);
  padding: 50px;
  margin: 20px;
}

.esprit{
  width: 300px;
  border: 2px solid rgb(0, 89, 255);
  padding: 50px;
  margin: 20px;



  



}

/*Option RISC*/


.Réseaux{
  text-align: center;
  font-size: 30px;
  background-image: url();
  text-shadow: #000;

  
}

.RISC{
color: rgb(0, 89, 255);
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: italic-;
 

}

.risc{
color: white; text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;


}









































